.company_container {
  background: linear-gradient(
    to right bottom,
    rgb(141, 218, 141),
    rgb(94, 192, 94)
  );
  display: flex;
  flex-basis: 20%;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1px solid white;
  cursor: pointer;
  transition: all 0.4s linear;
  text-decoration: none;
}

/* .company_container:hover {
  background: white;
}
.company_container:hover .info {
  color: rgb(94, 192, 94);
} */
.company_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem;
}

h5 {
  color: #fff;
  font-size: 18px;
}
h6 {
  color: #fff;
  font-size: 16px;
}

.fullname {
  font-size: 14px;
}

@media (max-width: 998px) {
  h5 {
    color: #fff;
    font-size: 15px;
  }
  h6 {
    color: #fff;
    font-size: 13px;
  }

  .fullname {
    font-size: 12px;
  }
}

@media (max-width: 668px) {
  h5 {
    color: #fff;
    font-size: 12px;
  }
  h6 {
    color: #fff;
    font-size: 10px;
  }

  .fullname {
    font-size: 10px;
  }
}
.effect{
  background-image: linear-gradient(120deg, white -50%, green 50%, white 30%);
  background-size: 200%;
  transition: all 1s ease;
}

.effect:hover {
  background-position: 100%;
  color: white;
}
.effect:hover .info{
  color: green;
}