.grid2 {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 5rem;
}
.grid2:last-child {
  margin-left: 1rem;
}

.today__products {
  backface-visibility: hidden;
  margin-top: -11.5%;
  width: 60vw;
  margin-left: -30%;
  position: relative;
}
.today__products span {
  font-size: 20px;
  padding: 2rem;
}
.load__more {
  position: absolute;
  top: 1650%;
  left: 60%;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgb(82, 168, 82);
  padding: 1rem 5rem;
  align-self: center;
  color: white;
  border: 1px solid white;
  border-radius: 1.5rem;
  font-weight: 300;
  transition: all 1s ease-in-out;
  margin-right: 10%;
}
.load__more:hover{
  color: rgb(82, 168, 82);
    background: white;
}
.load__less{
  position: absolute;
  top: 1650%;
  left: 8.5%;
  border: none;
  outline: none;
  background: rgb(82, 168, 82);
  padding: 1rem 5rem;
  align-self: center;
  color: white;
  border: 1px solid white;
  border-radius: 1.5rem;
  font-weight: 300;
  transition: all 1s ease-in-out;
  margin-right: 10%;
  cursor: pointer;
}
.load__less:hover{
  color: rgb(82, 168, 82);
  background: white;
}
.load__less:disabled {
  background: rgb(83, 83, 83);
  color: white;
  cursor: not-allowed;
}
.load__more:disabled{
  background: rgb(83, 83, 83);
  color: white;
  cursor: not-allowed;
}
