.main {
    width: 100%;
  position: relative;
}
.products {
  position: absolute;
  top: 22%;
  left: 40%;
}
.myCompany {
  position: absolute;
  top: 26%;
  left: 80%;
}

@media (max-width: 700px){
    /* .myCompany {
        display: none;
    } */
    .products {
        width: 50%;
        left: 40%;

    }
}
/* @media (min-width: 700px){
    .products{
        width: 60% ;
        left: 40%;
    }
} */
/* @media (min-width: 900px){
    .products{
        width: 60% ;
        left: 40%;
    }
} */
/* @media (min-width: 668px){
    .products{
        width: 70% ;
        left: 40%;
        height: 35rem;
    }
   
} */
