 /* .home_container{
   max-width: 100vw;
}     
.home_container:not(:last-child){
    margin-right: 20rem;
}

.sidebar{
    padding: 1rem;
    float: left;
    width: calc((100% - 20rem) / 3);
}
.myCompany{
    float: left;
    width: calc((100% - 20rem) / 3);
}
.products{
    float: left;
    width: calc((100% - 20rem) / 3);
} */

.main{
    position: relative;
}
.products{
    position: absolute;
    top: 20%;
    left: 40%;
}
.myCompany{
    position: absolute;
    top: 16%;
    left: 80%;
}