.cart__background {
  min-height: 10vh;
  background: rgb(173, 165, 165);
}
.cart__background span {
  font-size: 20px;
  padding: 3rem;
  margin: 1rem auto;
  color: white;
}
.shopCart__container {
  min-width: 100%;
  min-height: 100%;
}
.cart__list{
  width: 70%;
  margin-left: 2rem;
  margin-right: 5%;
}
.flex{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}