.header_container{
    max-height: 5rem;
    background: rgb(139, 201, 142);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    font-size: 18px;
    font-style: italic;
    padding: 0.5rem;
}
.u-center-text{
    text-align: center;
    margin-top: 50rem;
}
.icon-flex {
    display: flex;
    justify-content: space-between;
}
.iconLink {
    font-size: 28px;
    position: relative;
    color: white;
}
.iconLink:not(:last-child){
    margin-right: 5rem;
}
.fa-sign-out-alt::after {
    content: "";
    display: block;
    border: 0.4px solid red;
    border-radius: 50%;
}
.cartLength{
    position: absolute;
    top: -10%;
    right: -40%;
    color: red;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 60%;
}

/* @media screen and (min-width: 976px) {
   .header_container {
       font-size: 2rem;
   }
} */