.companyDetail_container{
    margin: 0 auto;
    text-align: center;
    transform: translateY(50%);
    background: white;
    width: 50%;
    height: 100%;
    border-radius: 0.8rem;
    overflow: hidden;
}
.companyDetailInfo {
    background: rgb(157, 207, 157);
    padding: 1rem;
}
.companyName{
    font-size: 18px;
    color: rgb(80, 78, 78);
    text-align: center;
    margin: 0rem 0 1rem 0;
}

.placeUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.placeUser p{
    font-size: 16px;
    color: rgb(80, 78, 78);
}
.myCompanyContainer{
   
    margin: 1rem;
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 0.5rem;
    overflow: hidden;

}
.myCompanyName{
    background: rgb(111, 201, 111);
    display: inline-block;
    padding: 1rem;
   
}
.myCompanyName h3{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.212);
}
.btnContainer{
    background: transparent;
    margin: 1rem 0.5rem;
    transition: all .5s;

}
.btnContainer .button{
    padding: 1rem;
    border: 1px solid white;
    background: rgb(103, 192, 115);
    color: white;
    cursor: pointer;
    transition: all .5s;
}
.btnContainer:hover .btnContainer{
    color: rgb(103, 192, 115);
    background: white;
    outline: none;
}
.button:hover {
    color: rgb(103, 192, 115);
    background: rgb(97, 93, 93);
    outline: none;
}
.grid{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 10rem;
}
.grid:last-child{
    margin-left: 1rem;
}